/*clearfix for float  */
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body{
 font-family: 'Lato', sans-serif; 
}
