@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

.clearfix:after{
  content: " "; /*older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

body{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  background-color: #25262C;
}

inner {
  max-width: 1100px;
  margin: auto; /*to center content*/
  position: relative; /*moves an element in relation to where it would have been in a normal flow*/
}

.header_wrapper{
  background-color: #25262C;
  background-image: url('/images/border.png');
  background-repeat: repeat-x; /*image is repeated horizontally only*/
  background-position: top;
}

.header_wrapper > .inner {
  padding-top: 10px;
}

nav{
  width: 400px;
  float: right;
  margin-top: 20px;
}

nav ul{
  color: #00C3C2;
  position: relative; /*shifting it to the top, right, bottom or left of where it would have been placed*/
  right: 0;
}

nav ul li{
  border-bottom: 4px solid #00C3C2;
  display: inline-block; /*causes block-level element to flow like an inline element while retaining other features of a block-level element*/
  padding-bottom: 10px;
}

nav ul li:hover{
  color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}

.logo_wrapper {
  color: #00C3C2;
  width: 300px; /*value for large size*/
  float: left;
}


.gameinfo_wrapper{
  background-color: #FFFFFF;
}

.game_pic{
  background-image: url('/images/scenery.png');
  background-size: cover; /*image completely covers the background area*/
  width: 70%;
  height: 269px;
  background-repeat: no-repeat;
  float: left;
  -webkit-box-shadow: 0px 0px 33px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 33px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 33px -5px rgba(0,0,0,0.75);

}

.features_menu{
  width: 26%;
  height: 272px;
  float: right;
  -webkit-box-shadow: 0px 0px 33px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 33px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 33px -5px rgba(0,0,0,0.75);
}


ul.features_menu li{
  background-color: #00C3C2;
  padding: 19px 15px;
  border-bottom: 1px solid #25262C;
  text-align: center;
  font-weight: 600;
}

.features_menu .feature_title{
  background-color: #25262C;;
  color: #00C3C2;
}

.white_text{
  color: #FFFFFF;
}

.lorem{
  text-transform: lowercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px; /*leading*/
  padding: 35px 0;
}

.footer_wrapper{
  background-color: #25262C;
  background-image: url('/images/border.png');
  background-repeat: repeat-x;
  background-position: top;
}

.footer_wrapper > .inner {
  padding-top: 30px;
}

.footer_links {
  color: #00C3C2;
  margin: 0 20px 20px 20px;
}

.footer_links ul li {
  padding-bottom: 15px;
}

.about, .license, .tutorials{
  display: inline-block;
}

.margin{
  width: 33%;
  box-sizing: border-box; /*box sizing property is used to tell the browser what the sizing properties (width and height) should include  border-box with width and height properties (and min/max properties) includes content, paddig, and border (but not the margin)*/
}

.copyright{
  text-align: center;
  background-color: #00C3C2;
  color: #25262C;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*------------------small screen----------------*/
@media only screen and (max-width: 40em){

.header_wrapper .inner{
  padding-top: 10px;
  }

nav {
  display: none;
  }

.logo_wrapper {
  width: 250px;
  }

.bird{
  width: 80px;
  height: auto;
  padding-left: 10px;
  }

.flappy_app{
  display: inline-block;
  float: right;
  font-size: 20px;
  margin-right: 40px;
  padding-top: 15px;
  }

.flappy, .app{
  display: inline-block;
  }

.game_pic{
  background-position: right;
  width: 100%;
  }

ul.features_menu{
  width: 100%;
  height: auto;
  }

.lorem{
  padding: 30px;
  }

.about{
  /*background-color: pink;*/
  float: left;
  width: 50%;
  padding-left: 10px;
  box-sizing: border-box;
  }

.tutorials{
 float: right;
 width: 50%;
 box-sizing: border-box;
 }

.license{
  display: none;
  }

.copyright {
  background-color: #25252C;
  color: #FFFFFF;
  margin: auto;
  text-align: center;
  padding-bottom: 30px;
  }
}

/*--------------medium screen------------------*/
@media only screen and (min-width: 40.063em) and (max-width: 60em){

  .header_wrapper .inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  nav ul li{
    border: none;
    padding-right: 10px;
  }

  .logo_wrapper {
    width: 250px;
  }

  .bird{
    width: 80px;
    height: auto;
    padding-left: 10px;
  }

  .flappy_app{
    display: inline-block;
    float: right;
    font-size: 20px;
    margin-right: 87px;
    padding-top: 5px;
  }

  .game_pic{
    background-position: right;
    width: 100px;
  }

  ul.features_menu {
    width: 100px;
    height: auto;
  }

  .lorem{
    padding: 30px;
  }

  .footer_links li:hover{
    color: #FFFFFF;
  }

  .about{
    padding-left: 20px;
  }

  .copyright{
    background-color: #25262C;
    color: #FFFFFF;
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
  }
}


/*------------------large screen-----------------*/
@media only screen and (min-width: 60.063em){

  nav ul li{
    padding-right: 8px;
    padding-left: 8px;
  }

  nav ul li:first-child{
    padding-left: 0;
  }

  nav ul li:last-child{
    padding-right: 0;
  }

  .flappy{
    display: inline-block;
    font-size: 40px;
    letter-spacing: 4px;
    padding-top: 10px;
  }

  .app{
    display: inline-block;
    margin-left: 71px;
  }

  .app span{
    color: #00C3C2;
    font-size: 40px;
    letter-spacing: 4px;
  }

  .bird{
    position: absolute; /*element is taken out of normal flow and doesn't affect the position of any surrounding elements, simply ignore the space it would have taken up*/
    top: 28px;
    left: 155px;
    height: 65px;
  }

  .gameinfo_wrapper > .inner{
    padding-top: 50px;
  }

  .logo_wrapper{
    width: 400px;
    height: 100px;
  }

  .game_pic{
    border: 3px solid black;
  }
}

.footer_links ul {
  border-left: 4px solid #00C3C2;
  padding-left: 20px;
}

.footer_links ul li:last-child{
  padding-bottom: 0;
}

.copyright{
  margin-top: 45px;
}

